@import url('https://fonts.googleapis.com/css?family=Barlow:100');
@import url('https://fonts.googleapis.com/css?family=Oswald');

@FontStylePrimary   :sans-serif;
@topic_font         :'Barlow', sans-serif;
@logo_font          :'Oswald', sans-serif;
// @topic_font         :"Sukhumvit Set",sans-serif; 

// COLOR SETUP
// http://www.color-hex.com/color/040d14
@bg_color           : #070707;
@bg_second          : #333333;
@font_color         : #FFFFFF; // http://www.color-hex.com/color/55ce63
@font_color_dark    : #999999;
@font_color_light   : #BBBBBB;

html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

a[href], button {
    -ms-touch-action: none; /* IE10 */
    touch-action: none;     /* IE11 */
}

body{
    background: @bg_color;
    overflow-x:hidden;
    font-family: @topic_font;
}

// Animation of Textarea
.autosize{
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.bgGradient(@primary,@second){
    background: @primary;
    background: -webkit-linear-gradient(to right, @primary, @second);
    background: linear-gradient(to right, @primary, @second);
}

.transitionAnimation(@s){
    transition:all @s ease-in-out;
    -moz-transition:all @s ease-in-out;
    -webkit-transition:all @s ease-in-out;
    -o-transition:all @s ease-in-out;
}