.header{
	a.link{
		font-size: 1.4em;
		padding: 13px 5%;
		span{ display: none; }
	}

	.avatar{ padding: 10px 5%; }
}

.login{
	width: 90%;
	margin: 5%;
	margin-top: 30%;

	p{
		font-size: 2em;
		margin-bottom: 15%;
		line-height: 1.3em;
	}
	a{
		font-size: 1.3em;
		padding: 10px;
		i{ margin-left: 10px; }
	}
}

.announce{
	width: 80%;
	margin: 0% 10%;
	margin-top: 20%;
	float: left;
	display: inline-block;
	text-align: center;

	h2{
		font-size: 3em;
		color: #999999;
	}
}

.container{
	width: 100%;
	margin: 0%;
	margin-bottom: 5%;

	.leader-items{
		width: 90%;
		padding: 5%;
		margin: 0;
		border-radius: 0px;

		&:nth-child(odd){ background: #FAFAFA; }

		.date{
			font-size: 1.6em;
			margin-bottom: 1%;
			text-align: center;
		}

		.user-items{
			font-size: 1.4em;
			margin-top: 5%;

			.photo{
				width: 10%;
				margin-right: 5%;
				margin-top: 5px;

				i.fa-trophy{
					top: -5px;
					right: -5px;
					font-size: 0.65em;
				}
			}

			.name{
				width: 35%;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
			.time{
				width: 50%;
				text-align: right;
			}
		}

		
	}
}

.stat{
	width: 90%;
	padding: 0% 5%;

	.items{
		width: 100%;
		padding-top: 10%;

		.v{ font-size: 2em; }
		.c{ font-size: 1.4em; }
	}
}

.chart{
	position: inherit;
	width: 97%;
	padding: 0%;
	padding-left: 3%;
	margin-top: 10%;
	height: 300px;

	canvas{
		width: 100%;
		height: auto;
	}
}