@fontsize-head: 2em;
@fontsize-body: 1.2em;
@fontsize-info: 0.8em;

.header{
	width: 90%;
	padding: 0 5%;
}

.container{
	width: 90%;
	margin: 0 5%;
	margin-bottom: 5%;

	h1{ font-size: @fontsize-head; }
	p{ font-size: @fontsize-body; }

	.form{
		margin-top: 5%;

		input[type="number"]{
			width: 64%;
			font-size: @fontsize-body;
			float: left;
			display: inline-block;
			margin: 0;
			padding: 8px 3%;
			border: 0;
			background: #333333;
			border-radius: 5px;
			text-align: center;
			color: #BBBBBB;
			line-height: 1.25em;
			font-family: @topic_font;

			&:hover{ cursor: pointer; }

			&:focus{
				background: #666666;
				color: #FFFFFF;
			}
		}
		button{
			width: 28%;
			float: right;
			display: inline-block;
			font-size: @fontsize-body;
			border: 0;
			background: #FFFFFF;
			color: #000000;
			margin: 0;
			line-height: 1em;
			border-radius: 5px;
			padding: 10px 0;
			font-family: @topic_font;

			&:hover{
				cursor: pointer;
				background: #EEEEEE;
			}
		}
	}

	p.note{
		font-size: @fontsize-info;
		margin-top: 5%;
	}

	.progress{
		margin-top: 10%;

		.stat{ font-size: @fontsize-info; }
		.inprogress{ margin: 3% 0; }
		button{ font-size: @fontsize-info; }
	}

	.content{
		margin-top: 5%;
		canvas{ height: 500px; }

		.leader-items{
			padding: 3% 0%;
			line-height: 1.7em;
			font-size: @fontsize-body;

			.photo{
				width: 12%;
				margin-right: 5%;
			}
			a.name{ width: 38%; }
			.time{ width: 45%; }
		}
		.mission-items{
			font-size: @fontsize-body;

			.caption{
				width: 90%;
			}
			.icon{
				text-align: right;
				font-size: 1.2em;
			}
		}
		.language-items{
			font-size: @fontsize-body;

			.title{ width: 55%; }
			.text{ width: 45%; }
		}
	}
}

.login{
	width: 90%;
	margin: 0 5%;
	margin-top: 25%;

	p{
		font-size: @fontsize-head;
		margin-bottom: 15%;
		line-height: 1.2em;
	}
	a{
		font-size: @fontsize-body;
		padding: 10px;

		i{ margin-left: 15px; }
	}
}

.announce{
	width: 90%;
	margin: 0% 5%;
	margin-top: 25%;

	h2{
		font-size: @fontsize-body;
	}
}