@import "reset";
@import "config";

@fontsize-head: 2.8em;
@fontsize-body: 1.4em;
@fontsize-info: 1em;

.header{
	width: 40%;
	padding: 0 30%;
	height: 60px;
	float: left;
	display: inline-block;
	margin-bottom: 5%;

	a.link{
		width: 100%;
		float: left;
		display: inline-block;
		font-size: 1.4em;
		text-decoration: none;
		height: 30px;
		padding: 15px 0%;
		line-height: 1.3em;
		color: #FFFFFF;

		span{ margin-left: 10px; }
	}
}

.container{
	width: 40%;
	margin: 0 30%;
	margin-bottom: 6%;
	float: left;
	display: inline-block;

	h1{
		font-size: @fontsize-head;
		color: #FFFFFF;
	}

	p{
		font-size: @fontsize-body;
		line-height: 1.4em;
		color: #999999;

		strong{ color: #FFFFFF; }

		i.fa-check-circle{ margin-left: 10px; color: #304FFE; }
	}

	.form{
		width: 100%;
		float: left;
		display: inline-block;
		margin-top: 5%;

		&.hidden{ display: none; }

		input[type="number"]{
			width: 64%;
			font-size: @fontsize-body;
			float: left;
			display: inline-block;
			margin: 0;
			padding: 8px 3%;
			border: 0;
			background: #333333;
			border-radius: 5px;
			text-align: center;
			color: #BBBBBB;
			line-height: 1.25em;
			font-family: @topic_font;

			&:hover{ cursor: pointer; }

			&:focus{
				background: #666666;
				color: #FFFFFF;
			}
		}
		button{
			width: 28%;
			float: right;
			display: inline-block;
			font-size: @fontsize-body;
			border: 0;
			background: #FFFFFF;
			color: #000000;
			margin: 0;
			line-height: 1em;
			border-radius: 5px;
			padding: 10px 0;
			font-family: @topic_font;

			&:hover{
				cursor: pointer;
				background: #EEEEEE;
			}
		}
	}

	p.note{
		width: 100%;
		display: inline-block;
		font-size: @fontsize-info;
		margin-top: 3%;
		font-style: italic;
		text-align: right;
		color: #666666;
	}

	.progress{
		width: 100%;
		float: left;
		display: inline-block;
		margin-top: 5%;

		.stat{
			width: 100%;
			float: left;
			display: inline-block;
			font-size: @fontsize-info;
			color: #666666;

			.complete{
				float: left;
				display: inline-block;
			}
			.goal{
				float: right;
				display: inline-block;
			}
		}

		.inprogress{
			width: 100%;
			float: left;
			display: inline-block;
			position: relative;
			background: #333333;
			border-radius: 20px;
			margin: 2% 0;
			overflow: hidden;

			&.complete{
				background: #448AFF;
				.bar{ background: #304FFE; border-radius: 0px; }
			}

			.bar{
				width: 35%;
				float: left;
				display: inline-block;
				height: 10px;
				background: #FFFFFF;
				border-radius: 20px;
			}
		}

		button{
			width: 100%;
			float: left;
			display: inline-block;
			font-size: @fontsize-info;
			border: 0;
			background: transparent;
			color: #666666;
			font-family: @topic_font;

			&:hover{ cursor: pointer; }
		}
	}

	.content{
		width: 100%;
		float: left;
		display: inline-block;
		margin-top: 5%;

		canvas{
			width: 100%;
			float: left;
			display: inline-block;
			height: 350px;
		}

		.leader-items{
			width: 100%;
			float: left;
			display: inline-block;
			font-size: @fontsize-body;
			padding: 3% 0%;
			line-height: 1.8em;
			border-top: 1px solid #222222;

			&:last-child{ border-bottom: 1px solid #222222; }

			.photo{
				width: 8%;
				float: left;
				display: inline-block;
				margin-right: 4%;

				img{
					width: 100%;
					float: left;
					display: inline-block;
					border-radius: 50%;
				}
			}
			a.name{
				width: 48%;
				float: left;
				display: inline-block;
				text-decoration: none;
				color: #FFFFFF;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;

				&:hover{ text-decoration: underline; }
			}
			.time{
				width: 40%;
				float: left;
				display: inline-block;
				text-align: right;
				color: #DDDDDD;
			}
		}
		.mission-items{
			width: 100%;
			padding: 3% 0%;
			float: left;
			display: inline-block;
			font-size: @fontsize-body;
			border-top: 1px solid #222222;
			line-height: 1.2em;

			&:last-child{ border-bottom: 1px solid #222222; }

			.caption{
				width: 90%;
				float: left;
				display: inline-block;
				color: #FFFFFF;
			}
			.icon{
				width: 10%;
				float: left;
				display: inline-block;
				text-align: right;
				font-size: 1.2em;
			}
		}
		.language-items{
			width: 100%;
			padding: 3% 0%;
			float: left;
			display: inline-block;
			font-size: @fontsize-body;
			border-top: 1px solid #222222;
			line-height: 1.2em;

			&:last-child{ border-bottom: 1px solid #222222; }

			.title{
				width: 60%;
				float: left;
				display: inline-block;
				color: #FFFFFF;
			}
			.text{
				width: 40%;
				float: left;
				display: inline-block;
				text-align: right;
				color: #DDDDDD;
			}
		}
	}
}

.login{
	width: 70%;
	margin: 0 15%;
	margin-top: 15%;
	float: left;
	display: inline-block;
	text-align: center;

	p{
		width: 100%;
		float: left;
		display: inline-block;
		font-size: @fontsize-head;
		margin-bottom: 5%;
		color: #FFFFFF;
	}
	a{
		display: inline-block;
		text-decoration: none;
		font-size: @fontsize-body;
		padding: 15px 20px;
		border-radius: 5px;
		color: #000000;
		background: #FFFFFF;

		&:hover{ cursor: pointer; }
		i{ margin-left: 15px; }
	}
}

.announce{
	width: 80%;
	margin: 0% 10%;
	margin-top: 20%;
	float: left;
	display: inline-block;
	text-align: center;

	h2{
		font-size: @fontsize-body;
		color: #FFFFFF;
	}
}

/* Other Device and Screen */
@media only screen and (min-width:1910px) {@import "style-1920";}
@media only screen and (min-width:1024px) and (max-width:1365px){@import "style-1024-1366";}
@media only screen and (min-width:760px) and (max-width:1023px){@import "style-760-1023";}
@media only screen and (min-width:520px) and (max-width:759px){@import "style-520-759";}
@media only screen and (min-width:0px) and (max-width :519px){@import "style-0-519";}