config.php

*.pdf
*.text
*.xls
*.xlsx
*.doc
*.docx
*.ppt
*.pptx
*.zip

database/backup/*

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

*.cab
*.msi
*.msm
*.msp
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes